# Node
node_modules/
dist/
build/

# Logs
*.log

# Env files
.env
.env.*    # For variations like .env.local, .env.dev

# OS junk
.DS_Store
Thumbs.db

# IDEs
.vscode/
.idea/

# Dependency caches (optional)
.pnpm-store/
.yarn/

# Others
coverage/
.claude/
local/