@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,300;0,9..40,400;0,9..40,500;0,9..40,600;0,9..40,700;1,9..40,400&display=swap');
@import "tailwindcss";

/* adding custom fonts + buttons*/
@theme {
  --font-hello: "Chakra Petch", sans-serif;
  --font-sans: "DM Sans", sans-serif;
  --color-nice_purple: #472560;
}

@layer base {
  button {
    font-size: large;
    background-color: transparent;
    outline-width: 2px;
    outline-offset: 2px;
    outline-color: var(--color-pink-500);
    border-radius: var(--radius-md);
    text-underline-offset: auto;
  }
}

:root {
  font-family: "DM Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  line-height: 1.5;

  color-scheme: dark;
  color: #d4d4d8;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: inherit;
  text-decoration: inherit;
}

body {
  margin: 0;
  min-width: 320px;
  background-color: #0f0409;
  font-family: "DM Sans", sans-serif;
}

h1 {
  line-height: 1.1;
}
